{% extends "base.html" %}

{% block title %}Administracion{% endblock %}

{% block content %}

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="feature_header text-center">
          <h3 class="feature_title">En construccion ...</h3>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}

