{% if not errors is empty %}
  <div class="row">
    <label for="">Su formulario tiene los siguientes errores:</label>
    <ul style="color:red;list-style-type:disc">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
