<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="feature_header text-center">
          {% if edit %}
            <h3 class="feature_title">Editar crimen</h3>
          {% else %}
            <h3 class="feature_title">Nuevo crimen</h3>
          {% endif %}
          <h4 class="feature_sub">Selecciona un punto y llena el formulario para agregar el crimen. </h4>
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <section id="verMapa">
        <div class="no-padding">
          <div class="container-fluid">
            <div class="row">
              <div class="map" id="map"></div>
            </div>
          </div>
        </div>
      </section>
      <form method="POST">
        <input type="hidden" id="lat" name="lat" value="{{ crime.lat }}" required>
        <input type="hidden" id="lng" name="lng" value="{{ crime.lng }}" required>
        <section id="contact">
          <div class="container">
            {% include('_errors.html') %}
            <div class="row">
              <div class="contact_full">
                <div class="col-md-6 left">
                  <div class="left_contact">
                    <div class="form-level">
                      <select name="crime_type_id" id="crime-types" class="form-control input-block">
                        <option value="">Seleccione un tipo de crimen ...</option>
                      </select>
                      <span class="form-icon fa fa-gavel"></span>
                    </div>
                    <div class="form-level">
                      <input type="text" name="title" placeholder="Titulo" id="title" class="form-control input-block" value="{{ crime.title }}" required>
                      <span class="form-icon fa fa-envelope-o"></span>
                    </div>
                    <div class="form-level">
                      <input type="date" name="date" id="date" class="form-control input-block" value="{{ crime.date }}" required>
                      <span class="form-icon fa fa-calendar"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 right">
                  <div class="form-level">
                    <textarea name="description" id="description" rows="5" class="form-control textarea-block" placeholder="Descripcion del crimen">{{ crime.description }}</textarea>
                    <span class="form-icon fa fa-pencil"></span>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <input type="submit" id="submit" class="btn btn-main featured" value="Enviar" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>

{% include('_modal.html') %}
