<!-- Google Map  Source -->
<script type="text/javascript" src="/js/gmaps.js"></script>

<script>
  var map           = {},
  latInput          = $('#lat'),
  lngInput          = $('#lng'),
  crimeTypeInput    = $('#crime-types'),
  titleInput        = $('#title'),
  dateInput         = $('#date'),
  descriptionInput  = $('#description'),
  crimeTypes        = $('#crime-types'),
  submitInput       = $('#submit'),
  modalMsg          = $('#myModal'),
  modalBody         = $('#mBody'),
  selectedCrimeType = {{ crime.crime_type_id }},
  edit              = {{ edit }};

  function placeMarker(lat, lng) {
    map.addMarker({
      lat: lat,
      lng: lng,
      title: 'Nuevo crimen'
    });
  }

  function deleteMarkers() {
    map.removeMarkers();
  }

  function onClickMarker(e) {
    deleteMarkers();
    placeMarker(e.latLng.lat(), e.latLng.lng());
    latInput.val(e.latLng.lat())
    lngInput.val(e.latLng.lng());
  }

  function validate(e) {
    errors = [];
    modalBody.html("");

    if (latInput.val() == '' || lngInput.val() == '') {
      errors.push('Seleccione un punto donde fue el crimen.');
    }

    if (crimeTypeInput.val() == '') {
      errors.push('Seleccione un tipo de crimen.');
    }

    if (titleInput.val() == '') {
      errors.push('Ingrese un titulo');
    }

    if (dateInput.val() == '') {
      errors.push('Ingrese la fecha del delito');
    }

    if (descriptionInput.val() == '') {
      errors.push('Ingrese una descripcion del delito');
    }

    if (errors.length > 0) {
      e.preventDefault();

      modalBody.html(errors.map(function (e) {
        return e + "<br>";
      }));

      modalMsg.modal();
    }
  }

  function init() {

    map = new GMaps({
      div: '#map',
      lat: latInput.val(),
      lng: lngInput.val(),
      scrollwheel: false,
      panControl: false,
      zoomControl: true,
      zoom: 14,
      click: onClickMarker
    });

    if (edit) {
      placeMarker(latInput.val(), lngInput.val());
    } else {
      GMaps.geolocate({
        success: function(position) {
          deleteMarkers();
          placeMarker(position.coords.latitude, position.coords.longitude);
        },
        error: function(error) {
          console.log('Geolocation failed: '+error.message);
        },
        not_supported: function() {
          alert("Tu navegador no soporta la geolocalizacion.");
        },
        always: function() {

        }
      });
    }

    jQuery.getJSON("/api/crime-types", function( data ) {

      jQuery.each( data, function( key, val ) {

        if (val.id == selectedCrimeType) {
          crimeTypes.append("<option value=\"" + val.id + "\" selected>" + val.name +"</option>");
        } else {
          crimeTypes.append("<option value=\"" + val.id + "\">" + val.name +"</option>");
        }

      });

    });

    submitInput.click(validate);
  }

  $(document).ready(init);

</script>
