<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %} - Mapa del crimen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <!-- FontAwesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css"/>
  <!-- Animation -->
  <link rel="stylesheet" href="/css/animate.css" />
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="/css/owl.carousel.css"/>
   <link rel="stylesheet" href="/css/owl.theme.css"/>
   <!-- Pretty Photo -->
   <link rel="stylesheet" href="/css/prettyPhoto.css"/>
   <link rel="stylesheet" href="/css/flexslider.css"/>
   <link rel="stylesheet" href="/css/red.css"/>
  <!-- Template styles-->
  <link rel="stylesheet" href="/css/custom.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <link rel="stylesheet" href="/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <!-- Google maps api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBnOHMu5Tp89-7HKnhM5Ofdi38qrNIcUQ"></script>
  <!-- Lato Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
  <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
  <header id="header" class="navbar-fixed-top navbar-inverse video-menu" role="banner">
    <div class="container">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/img/logo3.png" alt="" class="img-responsive"></a>
      </div>
      <nav class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" role="navigation">
        <ul class="nav navbar-nav navbar-right ">
          <li class="active"> <a href="/" class="page-scroll">Inicio </a></li>
          <li><a href="/nuevo-crimen"  class="page-scroll">Registrar crimen</a> </li>

          {% if session.admin %}
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/crimenes">Crimenes</a></li>
              </ul>
            </li>
          {% endif %}

          {% if session.email is empty %}
            <li><a href="/login" class="page-scroll">Ingresar </a> </li>
          {% else %}
            <li><a href="/logout" class="page-scroll">({{ session.username }}) &nbsp; Salir </a> </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  {% block content %} {% endblock %}

  <section id="footer">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <h3 class="menu_head">Menu</h3>
            <div class="footer_menu">
              <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/nuevo-crimen">Nuevo crimen</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3 class="menu_head">Contactenos</h3>
            <div class="footer_menu_contact">
              <ul>
                <li> <i class="fa fa-home"></i>
                  <span> Vicente mendez #1234 </span></li>
                <li><i class="fa fa-globe"></i>
                  <span> +(569) 81279281</span></li>
                <li><i class="fa fa-phone"></i>
                  <span> mapkronol@mail.com</span></li>
                <li><i class="fa fa-map-marker"></i>
                <span> www.mapkronol.cl</span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3 class="menu_head">Tags</h3>
            <div class="footer_menu tags">
              <a href="#"> Asalto</a>
              <a href="#"> Asesinato</a>
              <a href="#"> Carterazo</a>
              <a href="#"> Robo</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer_b">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer_bottom">
              <p class="text-block"> &copy; Todos los derechos reservados a <span>Waschuslerus INC </span></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer_mid pull-right">
              <ul class="social-contact list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                <li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"> <i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="back-top">
    <a href="#slider_part" class="scroll" data-scroll>
      <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-up"></i></button>
    </a>
  </div>

  <!-- initialize jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="js/jquery.js"></script> -->
  <!-- Bootstrap jQuery -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/js/owl.carousel.min.js"></script>
  <!-- Isotope -->
  <script src="/js/jquery.isotope.js"></script>
  <!-- Pretty Photo -->
  <script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
  <!-- SmoothScroll -->
  <script type="text/javascript" src="/js/smooth-scroll.js"></script>
  <!-- Image Fancybox -->
  <script type="text/javascript" src="/js/jquery.fancybox.pack.js?v=2.1.5"></script>
  <!-- Counter  -->
  <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
  <script type="text/javascript" src="/js/waypoints.min.js"></script>
  <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="/js/jquery.scrollTo.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
  <!-- PrettyPhoto -->
  <script src="/js/jquery.singlePageNav.js"></script>
  <!-- Wow Animation -->
  <script type="js/javascript" src="/js/wow.min.js"></script>
  <!-- Custom js -->
  <script src="/js/custom.js"></script>

  {% block scripts %} {% endblock %}
</body>
</html>