<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="feature_header text-center">
          <h3 class="feature_title">Contacto</h3>
          <h4 class="feature_sub">Puedes enviarnos tus dudas en el siguient formulario. </h4>
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <form action="/contacto" method="post">
      <div class="row">
        <div class="contact_full">
          <div class="col-md-6 left">
            <div class="left_contact">
                <div class="form-level">
                  <input name="name" placeholder="Nombre" id="name" value="" type="text" class="input-block">
                  <span class="form-icon fa fa-user"></span>
                </div>
                <div class="form-level">
                  <input name="email" placeholder="Email" id="mail" class="input-block" value="" type="email">
                  <span class="form-icon fa fa-envelope-o"></span>
                </div>
                <div class="form-level">
                  <input name="phone" placeholder="Telefono" id="phone" class="input-block" value="" type="text">
                  <span class="form-icon fa fa-phone"></span>
                </div>
            </div>
          </div>
          <div class="col-md-6 right">
            <div class="form-level">
              <textarea name="message" id="messege"  rows="5" class="textarea-block" placeholder="Mensaje"></textarea>
              <span class="form-icon fa fa-pencil"></span>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-main featured">Contactar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>