{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

  <section id="home" class="hero landing hero-section">
    <div class="video-background-container">
      <video preload="auto" autoplay loop muted class="video-background">
        <source type="video/mp4" src="videos/gdrive.mp4" />
        <source type="video/ogg" src="videos/gdrive.ogv" />
        <source type="video/webm" src="videos/gdrive.webm" />
      </video>
    </div>

    <div class="parallax-overlay"></div>

    <div class="container">
      <div class="hero-content text-center">
        <div class="hero-text wow fadeIn" data-wow-delay=".8s">
          <h3 class="hero-title"><span>Map</span>Kronol</h3>
          <p class="hero-description">Mapa del crimen de Chillán</p>
          <p class="hero-buttons">
            <a href="#verMapa" class="btn btn-dark page-scroll">
              <strong>Ver Mapa </strong> </i>
            </a>
             <a href="/nuevo-crimen" class="btn btn-main featured page-scroll">
              <strong>Registrar Nuevo Crimen </strong> </i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="registrarEvento">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="feature_header text-center">
            <br/>
            <h3 class="feature_title">¿ <b>Cómo registrar un crimen</b> ?</h3>
            <h4 class="feature_sub">Para poder registrar un nuevo crimen debes estar registrado y haber ingresado al sistema. <br>Sino estas registrado, puedes hacerlo haciendo clic aquí</h4>
            <div class="divider"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="main_feature text-center">
          <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="feature_content">
              <i class="fa fa-sign-in"></i>
              <h5>Ingresar al Sistema</h5>
              <p>Para ingresar, debes identificarte con tu nombre de usuario y contraseña creados al momento de registrarte.</p>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="feature_content">
              <i class="fa fa-location-arrow"></i>
              <h5>Seleccionar Punto de Crimen</h5>
              <p>Seleccione 'Registrar Crimen' en el menu. En el mapa, debes seleccionar el punto donde ocurrió el evento.</p>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="feature_content">
              <i class="fa fa-edit"></i>
              <h5>Completar datos</h5>
              <p>Finalmente, debes ingresar los datos adicionales para completar el registro del evento y presionar en “Registrar Crimen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="verMapa">
    <div class="no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="map" id="map"></div>
        </div>
      </div>
    </div>
  </section>

  <br>

  {# include "contact.html" #}

{% endblock %}


{% block scripts %}

<!-- Google Map  Source -->
<script type="text/javascript" src="js/gmaps.js"></script>

<script>
  var markers = [];
  var map = {};

  {% if session.email %}
    var user_id = {{ session.user_id }};
  {% else %}
    var user_id = false;
  {% endif %}

  function initMap() {
    var mapDiv = document.getElementById('map');

    map = new GMaps({
      div: '#map',
      lat: -36.6079547,
      lng: -72.1044419,
      scrollwheel: false,
      panControl: false,
      zoomControl: false,
      zoom: 14,
    });

    for (i = 0; i < markers.length; i++) {

      map.addMarker({
        lat: markers[i].lat,
        lng: markers[i].lng,
        title: markers[i].title,
        infoWindow: {
          content: markers[i].description
        },
        icon: "img/icons/" + markers[i].icon
      });

    }
  }

  $(document).ready(function(){

    var isAdmin    = false;
    var deleteLink = "";
    var editLink   = "";

    {% if session.admin %}
      isAdmin = true;
    {% endif %}

    jQuery.getJSON("/api/crimes", function( data ) {

      jQuery.each( data, function( key, val ) {

        console.log(val.user_id + ' mi id:' + user_id );

        if (isAdmin || user_id == val.user_id) {
          deleteLink = "<a href='/crimen/"+val.id+"/eliminar'>Eliminar</a>";
          editLink   = "<a href='/crimen/"+val.id+"/editar'>Editar</a>";
        }

        markers.push({
          lat: val.lat,
          lng: val.lng,
          title: val.title,
          description: "<b>" + val.date + ': ' + val.title + '</b> '+ ((isAdmin || user_id == val.user_id) ? (deleteLink + ' | ' + editLink) : ('')) +' <br>' + val.description,
          icon: val.icon
        });

      });

    }).done(initMap);

  });

</script>

{% endblock %}