{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="feature_header text-center">
          <h3 class="feature_title">Login</h3>
          <h4 class="feature_sub">Para ingresar, introduce tu usuario y contraseña. </h4>
          <div class="divider"></div>
        </div>
      </div>
    </div>
    {% include('_errors.html') %}
    <form action="/login" method="POST">
      <div class="row">
         <div class="contact_full">
          <div class="col-md-12">
            <div class="">
                <div class="form-level">
                  <input name="email" placeholder="Email" id="email" class="input-block" value="" type="email" autofocus required>
                  <span class="form-icon fa fa-user"></span>
                </div>
                <div class="form-level">
                  <input name="password" placeholder="Clave" id="password" value="" type="password" class="input-block" required>
                  <span class="form-icon fa fa-key"></span>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-main featured">Enviar</button>
          <a href="/registro" class="btn btn-main featured">Registrarse</a>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}
