{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="feature_header text-center">
          <h3 class="feature_title">Nuevo usuario</h3>
          <h4 class="feature_sub">Ingrese sus datos y presione el boton registrarse. </h4>
          <div class="divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form method="POST">
            <section id="contact">
              <div class="container">
                {% include('_errors.html') %}
                <div class="row">
                  <div class="contact_full">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-level">
                          <input type="email" name="email" placeholder="Email" id="email" class="form-control input-block" value="{{ user.email }}" required autofocus>
                          <span class="form-icon fa fa-envelope-o"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-level">
                          <input type="text" name="username" placeholder="Nombre de usuario" id="username" class="form-control input-block" value="{{ user.username }}" required>
                          <span class="form-icon fa fa-user"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-level">
                          <input type="text" name="name" placeholder="Nombre" id="nombre" class="form-control input-block" value="{{ user.name }}" required>
                          <span class="form-icon fa fa-user"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-level">
                          <input type="text" name="lastname" placeholder="Apellido" id="lastname" class="form-control input-block" value="{{ user.lastname }}" required>
                          <span class="form-icon fa fa-user"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-level">
                          <input type="date" name="birthdate" placeholder="Fecha de nacimiento" id="birthdate" class="form-control input-block" value="{{ user.birthdate }}" required>
                          <span class="form-icon fa fa-cal"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-level">
                          <input type="password" name="password" id="password" class="form-control input-block" value="{{ user.password }}" placeholder="Clave" required>
                          <span class="form-icon fa fa-key"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-level">
                          <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-block" value="{{ user.password_confirmation }}" placeholder="Vuelva a ingresar su clave" required>
                          <span class="form-icon fa fa-key"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <input type="submit" id="submit" class="btn btn-main featured" value="Registrarse" />
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% include('_modal.html') %}

{% endblock %}

{% block scripts %}

<script>
  var email             = $('#email'),
  username              = $('#username'),
  nombre                = $('#nombre'),
  lastname              = $('#lastname'),
  birthdate             = $('#birthdate'),
  password              = $('#password'),
  password_confirmation = $('#password_confirmation'),
  modalMsg              = $('#myModal'),
  modalBody             = $('#mBody'),
  submitInput           = $('#submit');

  function validate(e) {
    errors = [];
    modalBody.html("");

    if (email.val() == '') {
      errors.push('Ingrese su email.');
    }

    if (username.val() == '') {
      errors.push('Ingrese su nombre de usuario');
    }

    if (nombre.val() == '') {
      errors.push('Ingrese su nombre');
    }

    if (lastname.val() == '') {
      errors.push('Ingrese su apellido');
    }

    if (birthdate.val() == '') {
      errors.push('Ingrese su fecha de nacimiento');
    }

    if (password.val() == '') {
      errors.push('Ingrese su clave');
    }

    if (password_confirmation.val() == '') {
      errors.push('Ingrese su confirmacion de la clave');
    }

    if (password.val().length < 5) {
      errors.push('La clave debe contener al menos 5 caracteres');
    }

    if (password.val() != password_confirmation.val()) {
      errors.push('Las claves no coinciden');
    }

    if (errors.length > 0) {
      e.preventDefault();

      modalBody.html(errors.map(function (e) {
        return e + "<br>";
      }));

      modalMsg.modal();
    }
  }

  $(document).ready(function(){

    submitInput.click(validate);

  });

</script>

{% endblock %}